body{
    background-color: #DEDAFD;
    text-align: center;
    color: #3B284C;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #3B284C;
    
}

h1{
    margin: 30px;
}

h1::after{
    content: "";
    width: 300px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background-color: #56DDEC;
    left: 0;
    right: 0;
    bottom: -10px;
}

.col-center{
    margin: 0 auto;
    float: none!important;
}

.carousel{
    margin: 50px auto;
    padding: 0 70px;
}

.carousel-item{
    overflow: hidden;
    min-height: 290px;
}

.carousel .carousel-control{
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}

.carousel-control i {
    font-size: 60px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: #56DDEC;
    
}

