body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: brown;
}
main {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 53, 53, 0.632);
}
nav {
    background-color: rgb(76, 0, 255);
    width: 100%;
    height: 100px;
}
.fundo {
    background-color: rgb(78, 122, 255);
}
section {
    background-color: rgba(0, 0, 0, 0.199);
}
img {
    height: 60%;
}