.img-servicos{
    width: 210px;
    height: 250px;
}
.navegacao{
    background-color: var(--Primary);
}
a:link {
    color: white;
    text-decoration: none;
 }
 
 /* link que foi visitado */
 a:visited {
     color: var(--One);
 }
 
 /* mouse hover */
 a:hover {
     color: #56ddec;
 }
 
 /* link selecionado */
 a:active {
     color: var(--Two);
 }