.servico{
    padding-top: 100px;
    color: black;
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--One); */
}
.navegacao{
    background-color: var(--Details);
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
    height: 120px;
    box-shadow: 2px 3px 15px #888888;
}
.card1{
    background-color: var(--Two);
    border-radius: 10px;
    box-shadow: 0px 3px 10px #888888;
    margin: 10px;
}
.cards{
    margin: 20px;
    padding: 10px;
    height: 370px;
}
.img{
    width: 80px;
    height: 150px;
}
.botao{
    font-family: 'Montserrat', sans-serif;
    color: var(--Primary);
    box-shadow: 0px 3px 10px #888888;
}
.template{
    padding: 20px;
}
.plan{
    background-color: var(--Secondary);
    margin: 20px;
    width: 60px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 3px 10px #888888;
}
.planos{
    background-color: var(--One);
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 2px var(--Primary);
    padding: 40px;
    color: #5E3284;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: var(--Two);
    font-weight: 900;
    text-shadow: 0.7px 0.7px var(--Primary);
    padding-bottom: 20px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: var(--Two);
    font-weight: 900;
    text-shadow: 0.7px 0.7px var(--Primary);
    padding-bottom: 20px;
    padding-top: 40px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--Primary);
}
a:link {
    color: var(--Primary);
    text-decoration: none;
 }
 
 /* link que foi visitado */
 a:visited {
     color: var(--One);
 }
 
 /* mouse hover */
 a:hover {
     color:var(--Primary);
 }
 
 /* link selecionado */
 a:active {
     color: var(--Two);
 }